body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 50px; }
  body .title {
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    color: #b83f45;
    margin: 0 0 5px 0; }
  body .todo-section {
    position: relative;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 550px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    z-index: 9;
    margin: 0 auto; }
    body .todo-section::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50px;
      overflow: hidden;
      z-index: -1;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2); }
    body .todo-section .todo__new {
      width: 100%;
      height: 65px;
      padding: 16px 16px 16px 60px;
      font-size: 24px;
      background: rgba(0, 0, 0, 0.003);
      border-bottom: 1px solid #e6e6e6;
      border: none;
      box-sizing: border-box;
      outline: none; }
      body .todo-section .todo__new::placeholder {
        font-style: italic;
        color: #949494; }
    body .todo-section .todo__list {
      max-height: 50vh;
      overflow: auto;
      list-style: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid #e6e6e6; }
      body .todo-section .todo__list::-webkit-scrollbar {
        width: 5px; }
      body .todo-section .todo__list::-webkit-scrollbar-track {
        background: #f1f1f1; }
      body .todo-section .todo__list::-webkit-scrollbar-thumb {
        background: #8889;
        border-radius: 10px; }
      body .todo-section .todo__list::-webkit-scrollbar-thumb:hover {
        background: #888; }
    body .todo-section .todo__item {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 24px;
      border-bottom: 1px solid #ededed; }
      body .todo-section .todo__item:hover button {
        opacity: 1; }
      body .todo-section .todo__item input {
        position: absolute;
        height: 40px;
        width: 40px;
        opacity: 0;
        cursor: pointer;
        outline: 0; }
        body .todo-section .todo__item input:checked + label {
          background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E);
          text-decoration: line-through;
          color: #949494; }
      body .todo-section .todo__item label {
        padding: 15px 15px 15px 60px;
        background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E);
        background-repeat: no-repeat;
        background-position: center left;
        color: #484848;
        font-weight: 400;
        line-height: 1.2;
        transition: color 0.4s; }
      body .todo-section .todo__item button {
        position: absolute;
        right: 10px;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 20px;
        color: gray;
        transition: all 0.3s;
        opacity: 0; }
        body .todo-section .todo__item button:hover {
          color: red; }
    body .todo-section .todo__filters {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      height: 20px;
      text-align: center;
      font-size: 15px;
      border-top: 1px solid #e6e6e6; }
      body .todo-section .todo__filters span {
        position: absolute;
        left: 10px;
        padding: 3px 7px; }
      body .todo-section .todo__filters ul {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0; }
        body .todo-section .todo__filters ul li {
          margin-right: 10px;
          border: 1px solid transparent;
          border-radius: 3px;
          padding: 3px 7px;
          cursor: pointer; }
          body .todo-section .todo__filters ul li:hover {
            border-color: #ce4646; }
      body .todo-section .todo__filters button {
        position: absolute;
        right: 10px;
        border: none;
        background: none;
        cursor: pointer;
        padding: 3px 7px;
        font-size: 15px; }
        body .todo-section .todo__filters button:hover {
          text-decoration: underline; }
